form {
	text-align:left;
	width:100%;
}

fieldset {
	
}

legend {
	font-weight:bold;
}

label {
	display:block;
	margin-bottom:0.5rem;
}

label:last-child {
	margin-bottom:0;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
	width:100%;
	margin:0;
	vertical-align:top;
}

textarea {
	resize:vertical;
}

input[type="submit"] {
	float:right;
}

input[type="submit"]:hover {
	
}

input[type="submit"]:active {
	
}

::-webkit-input-placeholder {
	font-style:italic;
	color:rgba(160,160,160,0.5);
}

:-moz-placeholder {
	font-style:italic;
	color:rgba(160,160,160,0.5);
	opacity:1;
}

:-ms-input-placeholder {
	font-style:italic;
	color:rgba(160,160,160,0.5);
}

.error {
	padding:0.5rem;
	border:2px solid rgb(187,51,51);
	background-color:rgb(255,255,187);
	color:rgb(187,51,51);
}